<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Windows 10 IoT Core Dashboard Insights' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>169ce936-7bdc-4cb1-bb29-9bd8265c2986</InstrumentationKey>
</ApplicationInsights>