<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Windows 10 IoT Core Dashboard Insights' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>35b2353d-4a98-4d6c-8617-b85b3d43a4dd</InstrumentationKey>
</ApplicationInsights>