<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Windows 10 IoT Core Dashboard Insights' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>b084741d-54b2-4133-b8d6-6998f01ed7dc</InstrumentationKey>
</ApplicationInsights>